services:
  bot:
    build: .
    container_name: poweron-telegram-bot
    env_file:
      - .env
    environment:
      - TZ=Europe/Kyiv
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
